In [4]:
#Q1. find the largest number from the given list, use for loop

number = [12, 75, 150, 180, 145, 525, 50]
largest=number[0]
for i in number:
    if i>largest:
        largest =i
print("largest number=",largest)

largest number= 525

In [12]:
# Q2. Print all even numbers between (1, 12)
i=1
n=12+1
for i in range(i,n):
    if i%2==0:
        print(i)

2
4
6
8
10
12

In [22]:
# Q3. Calculate the sum of all numbers from 1 to a given number
i=1
sum=0
n=int(input("Enter the n number"))
for i in range(i,n+1):
    sum=sum+i
print("sum = ",sum)

Enter the n number5
sum =  15

In [35]:
#Q4. Print the given list in reverse order
list1=[10,20,30,40,50]
print("INPUT LIST",list1)
list1.reverse()
print("OUTPUT LIST",list1)

INPUT LIST [10, 20, 30, 40, 50]
OUTPUT LIST [50, 40, 30, 20, 10]

In [52]:
number = [12, 75, 150, 180, 145, 525, 50]

for num in number:
    if num%5==0:
        print(num) 
print("*********")
for num in number:
    if num>150:
        continue
    print(num)
print("*********")    
for num in number:
    if num>=500:
        break
    print(num)

75
150
180
145
525
50
*********
12
75
150
145
50
*********
12
75
150
180
145